<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @ticket.plan_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Switch name:</strong>
  <%= @ticket.switch_name %>
</p>

<p>
  <strong>Number of times:</strong>
  <%= @ticket.number_of_times %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ticket.order %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @ticket.comment %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
